button{
    background-color: black;
    color: aqua;
    border-radius: 1em;
    padding: .5em 1em ;
    
}
.playbutton-only{
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;

}

button:hover{

    background-color: rgb(61, 60, 60);

}

